.wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: lightgray;
    width: 500px;
    height: 500px;
    margin: auto;
    outline: 6px solid grey;
}
.options {
    display: flex;
    justify-content: space-evenly;
    background-color:grey;
    padding: 6px;
    width: 100%;
}
.button {
    width: 5rem;
}
.screen {
    width: 100%;
    height: 100%;
}